@import "~antd/dist/antd.css";

.search {
  margin: 10px;
  width: 70%;
}

.search-container {
  text-align: center;
  font-size: 40px;
}

.loading {
  width: 100%;
  margin-top: 50px;
}

.language-tag {
  margin: 3px;
}

.github-icon {
  font-size: 20px;
}

.container {
  padding: 15px;
}
